*{
    font-family: 'roboro', sans-serif;
    margin: 0;
    
}
body{
    background: linear-gradient(0.25turn, #e2e2e2, white, #e2e2e2);

}
.color{
    color: #F0AD2F;
    
}
p{
    font-size: 1.4em;
}
span{
    font-weight: bold;
}



/* header et contenu */
header{
    background-image: url("imgs/Fallout-img.jpg");
    height: 740px;
}
.number{
    font-family: 'roboto thin', sans-serif;
    font-weight: lighter;


    color: #F0AD2F ;
}
.titre{
    float: left;
    margin: 100px 0 0 50px;

    font-size: 7rem;

    color: white;
}
.text-header{
    position: absolute;
    top: 300px;
    left: 150px;

    font-size: 4rem;

    color: white;
}
.home{
    position: absolute;
    top: 320px;
    
    margin-left: 60px;
    padding: 10px;

    writing-mode: vertical-lr;
    font-size: 3em;

    color: white;
    background: #D4AF37;
}


.container{
    position: relative;
    margin: 50px 150px 200px 150px;
    padding: 1rem;
}
.stick{
    position: absolute;
    top: 30px;
    left: -20px;
    width: 10px;
    height: 550px;

    border-radius: 10px;

    background-color: #D4AF37; 
}
ul{
    font-size: 1.4em;
}
.text-p{
    font-weight: 300;
    padding: 1em;
}
.p-text{
    font-family: 'roboto thin', sans-serif;
    font-weight: lighter;
    padding: 1em;
}
li{
    padding: 10px;   
}


/*Footer*/
footer{
    position: relative;
    height: 250px;

    background:linear-gradient(rgb(28, 27, 27), black ) ;

}
.good{
    position: absolute;
    left: 40%;
    top: 10%;

    font-family: 'lobster';
    font-weight: bolder;
    font-size: 3rem;

    color: white;
}
.logo{
    position: absolute;
    left: 100px;
    bottom: 90px;

    height: 250px;
    width: 250px;

}
.icon{
    position: absolute;
    right: 150px;
    bottom: 90px;

    height: 250px;
    width: 250px;
}
.p-icon{
    position: absolute;
    right: 160px;
    bottom: 150px; 
    
    padding: 1.1rem;
    text-align: center;  
}
.text-icon{
    font-weight: lighter;
}